<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>
        This site was created by Benjamin Brkic. It uses data from mapbox.com
        and darksky.net
      </p>
      <img class="portrait" src="/images/me.png" alt="" />
    </div>
    {{>footer}}
  </body>
</html>
