<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/images/weather.png" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>{{ help_message }}</p>
    </div>

    {{>footer}}
  </body>
</html>
